@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Button*/

.button {
  display: inline-block;
  padding: 10px 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #756257;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;;
}

.button:focus {
  outline: 3px solid #83B3D3;
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  outline: none;
}

.button-blue {
  color: #fff;
  background-color: #83B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;;
}

.button-blue:focus {
  outline: 3px solid #756257;
  background-color: #68A2CA;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  outline: none;
}

.button-search {
  width: 575px;
  margin-bottom: 93px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

/* Header */

.page-header {
  color: #000;
  background-color: #fff;
}

.navigation {
  position: relative;
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
}

.city-logo {
  position: absolute;
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 345px;
  margin: 0;
  margin-left: 169px;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.current-link {
  border-bottom: 2px solid #756257;
}

.navigation-link:hover {
  color: #756257
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-user {
  max-width: 306px;
  flex-wrap: nowrap;
  margin-left: auto;
  justify-content: end;
}

.navigation-user .navigation-link {
  position: relative;
  min-width: 42px;
  min-height: 66px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-favourite {
  position: relative;
}

.navigation-favourite::before {
  position: absolute;
  top: 13px;
  right: 0;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #7DB550;
  color: #fff;
  content: "12";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.navigation-favourite::before:active {
  color: rgba(117, 98, 87, 0.3);
} /*Как задать состояние для контента псевдоэлемента?*/

.navigation-choice {
  margin: auto 0;
  margin-left: 20px;
}

.navigation-choice button{
  width: 160px;
}


/* Main */

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
  background-color: #fff;
}

.main-catalog {
  background-color: #fff;
}

/* Welcome*/

.welcome-banner {
  margin: 0;
  background-color: #83B3D3;
  background-image: url("../images/background_photo/index-background-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-logo {
  margin: 51px auto 82px;
  vertical-align: middle;
}

.banner-border {
  vertical-align: middle;
}

/* Advantages */
.advantages {
  line-height: 36px;
  counter-reset: advantage;
}

.advantages-main-title {
  max-width: 720px;
  margin: 63px auto 31px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-main-text {
  max-width: 720px;
  margin: 31px auto 80px;
}

.advantage-list, .advantage-figure {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantage-blue-item {
  font-size: 18px;
  line-height: 21px;
  flex-basis: 100%;
  background-color: rgb(131, 179, 211);
  color: #fff;
}

.advantage-item, .advantage-figcaption {
  display: grid;
  place-items: center;
  place-content: center;
  padding: 20px;
  min-width: 250px;
  flex: 1 0 30%;
  min-height: 384px;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-picture {
  flex: 1 0 60%;
}

.reverse-picture {
  order: -1;
}

.road-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 30px;
  max-width: 13ch;
}

.advantage-description {
  margin: 0;
  max-width: 24ch;
}

.advantage-item-ordered .advantage-description::before {
  counter-increment: advantage;
  content: "— №" counter(advantage) " —";
  display: block;
  margin-bottom: 30px;
}

/* Advice */
.advice {
  color: #000;
  background-color: #fff;
}

.advice .advantage-title {
  margin: 0 0 20px;
}

.eat-item {
  background-color: inherit;
}

.advantage-icon {
  margin-bottom: 23px;
}

/* Hotel-searching */

.searching-title {
  max-width: 720px;
  margin: 91px auto 29px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.searching-text {
  max-width: 720px;
  margin: 29px auto 56px;
}

/* Newsletter */

.newsletter {
  color: #fff;
  background-color: rgb(131, 179, 211);
  background-image: url("../images/background_photo/index-background-newsletter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.newsletter-catalog {
  color: #000;
  background-color: #fff;
  text-align: center;
}

.newsletter-title {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 29px;
  padding-top: 94px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  max-width: 720px;
  margin: 29px auto 46px;
}

.input-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 93px;
}

.newsletter-catalog .input-container {
  padding-bottom: 140px;
}

.usermail {
  max-width: 600px;
  padding: 20px;
  flex-grow: 1;
  font-family: inherit;
  background-color: #F2F2F2;
}


/* Footer */

.page-footer {
  color: #000;
  background-color: #fff;
}

.page-footer a {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  display: block;
}

.page-footer-container {
  display: flex;
  max-width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-social {
  max-width: 130px;
  margin: 49px 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 3px;
  margin-bottom: 4px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  border-radius: 10px;
} /*Не понимаю где ошибка в логике стилизации кнопок. Почему не могу задать border-radius и потом добавить аутлайн на фокус*/

.social-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-link-icon:hover {
  fill: #68A2CA;
}

.social-link-icon:focus {
  fill: #68A2CA;
  outline: inner 3px solid #83B3D3;
}

.social-link-icon:active {
  fill: #68A2CA;
  opacity: 0.3;
  outline: none;
}

.phone {
  width: 720px;
  margin: 25px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[href^="tel:"] {
  display: block;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 15px;
  border-radius: 10px;
}

a[href^="tel:"]:hover {
  color: #756257;
}

a[href^="tel:"]:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
}

a[href^="tel:"]:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.developer {
  margin: 42px 0 44px;
  max-width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.developer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.developer-logo {
  fill: #000;
}

.developer-logo:hover {
  fill: #756257;
}

.developer-logo:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
}

.developer-logo:active {
  fill: #756257;
  opacity: 0.3;
  outline: none;
}


/* Filter */

.header-filter {
  padding: 35px 71px 83px;
  color: #fff;
  background-color: #83B3D3;
  background-image: url("../images/background_photo/catalog-background 1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-inner-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadscrumbs-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
} /*не получается выровнять элементы этого списка*/

.breadscrumbs-navigation-item {
  margin-right: 10px;
}

.arrow-item {
  width: 5px;
  height: 8px;
  background-image: url("../images/button_link_icons/arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.breadscrumbs a{
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.index-logo {
  fill: #fff;
}


.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.cost-label {
  font-size: 18px;
  line-height: 23px;
}

.reset {
  color: #fff;
}

/* Results */

.results {
  font-size: 18px;
  line-height: 23px;
}

.select-container {
  max-width: 1060px;
  margin: 44px auto 53px;
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
}

.results-title {
  margin: 0;
  width: 400px;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
}

.select-type {
  margin: 0;
  width: 287px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
}


.view {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 192px;
}

.button-view {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
}

.view:nth-child(3n) {
  margin-right: 0;
}

.view-icon {
  fill: #000;
}

.card-container {
  width: 1060px;
  margin: 0 auto;
  padding: 0 2px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-card {
  min-height: 438px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}


.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  margin: 0;
}

.hotel-card p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.hotel-card-price {
  margin: 0 auto;
}

.hotel-list a {
  text-decoration: none;
}

.rating-card-text {
  display: block;
  width: 160px;
  text-align: center;
  background-color: #F2F2F2;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.pagination-more {
  margin: 30px auto;
  text-align: center;
}

.showmore {
  width: 620px;
  padding: 17px;
  font-size: 20px;
  line-height: 26px;
}

/*Pagination*/

.pagination-container {
  max-width: 1060px;
  margin: 60px auto 73px;
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  min-width: 55px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}
